{
  "tabWidth": 4,
  "formatOnSave": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "proseWrap": "never",
  "arrowParens": "always"
}
